html,body,.theMainContent{
    height: 100%;
}
.sideBarLeft{
    margin-top: 50px;
}
.sideBarRight{
    margin-top: 50px;
}
.theFooter{
    padding-bottom: 100px;
    background-color: #a3c8e4;
}
.footer-content{
    margin-top: 100px;
}
/*.glyphicon-bell{
    color:orangered;
    font-size: 23px;
}*/
.text-info{
    cursor: pointer;
}
a{
    color:black;
}
.theTester{
    color:red;
}