html,body,.theMainContent{
    height: 100%;
}
.theLobby{
    margin-top: 10px;
}
.sideBarLeft{
    margin-top: 50px;
}
.sideBarRight{
    margin-top: 50px;
}
.theFooter{
    padding-bottom: 100px;
    background-color: #a3c8e4;
}
.footer-content{
    margin-top: 100px;
}
/*.glyphicon-bell{
    color:orangered;
    font-size: 23px;
}*/
.text-info{
    cursor: pointer;
}
a{
    color:black;
}
.theTester{
    color:red;
}
.Online{
    color:green;
}
.lobbyThumb1{
    background-color: #ffcc00;
}
.lobbyDropDown{
    background:none;
    border:none;
    box-shadow:none;
}